* { box-sizing: border-box; }

body 
{ 
    font-family: montserrat;
    margin: 0; 
}

h1 { font-size: 3.5em; }
h2 { font-size: 2.7em; }
h3 { font-size: 2em; }
p { font-size: 1.25em; }
li { font-size: 1.25em; }

ul { list-style: none;}

button
{
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #ff802c;
    color: white;
}

button:hover
{
    background-color: #ff6600;
}

.container
{
    max-width: 1400px;
    margin: auto;
}

header
{
    background-color: ghostwhite;
}

header .logo
{
    padding: 25px 30px;
    margin: 0px;
    font-weight: bold;
    color: #ff802c;
    font-size: 2em;
}

header .container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav
{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a 
{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.3);
    transition: color 0.3s ease, transform 0.2s ease-in-out;
}

header a:hover
{
    color: #ff802c;
    transform: scale(1.1);
}

#hero
{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh;

    background-image:
    linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("Assets/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}